DOCKER_REGISTRY=dccn
DOCKER_IMAGE_TAG=latest

NGINX_EXTERNAL_PORT=8080
NGINX_LOG_VOL=$PWD/data
NGINX_TELEMETRY_CONFIG_FILE=$PWD/etc/nginx/telemetry.conf

PROMTAIL_CONFIG_DIR=$PWD/etc/promtail
PROMTAIL_CLIENT_URL=https://loki/api/v1/push
PROMTAIL_CLIENT_BASIC_AUTH_USERNAME=
PROMTAIL_CLIENT_BASIC_AUTH_PASSWORD=
